/* Basic Reset */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #fffcf6;
	text-align: center;
}

header {
	background-color: darkgray;
	color: #fffcf6;
	padding: 15px
}

.nav-links {
	display: flex;
	list-style: none;
	justify-content: center;
}

.nav-links li {
	padding: 5px 25px;
}

.nav-links a {
	color: ghostwhite;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

.nav-links a:hover {
	color: yellow;
}

/*
.nav-links a:visited {
	color: brown;
}
*/

.content {
	display: flex;
	padding: 20px;
	background-color: lightsteelblue;
	width: 800px;
}

.box {
	padding: 25px;
	background-color: ghostwhite;
	width: 200px;
	/* height: 150px; */
	text-align: center;
}

.box2 {
	padding: 25px;
	background-color: #efeff9;
	width: 150px;
	/* height: 150px; */
	text-align: center;
}

.box3 {
	padding: 25px;
	background-color: ghostwhite;
	width: 200px;
	/* height: 150px; */
	text-align: center;
}

/* Mobile Design */
@media (max-width: 760px) {
	.nav-links {
		flex-direction: column;
	}
	
	.content {
		flex-direction: column;
	}
}